aula-3/src/main/webapp/xml/imagem.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- P. Filipe -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="util.xsd"/>
  <xs:complexType name="T_Fotografia">
    <xs:sequence>
      <xs:element name="título" type="xs:string"/>
      <xs:element name="autor" type="T_Nome"/>
      <xs:element name="tipo" type="T_Mime"/>
      <xs:element name="ficheiro" type="xs:anyURI"/>
      <xs:element name="conteudo" type="xs:base64Binary"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="fotografia" type="T_Fotografia"/>
</xs:schema>
