aula-3/src/main/webapp/xml/recurso.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Prof. Filipe -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="poema.xsd"/>
  <xs:include schemaLocation="imagem.xsd"/>
  <xs:complexType name="T_Recurso">
    <xs:choice>
      <xs:element name="poema" type="T_Poema"/>
      <xs:element name="imagem" type="T_Fotografia"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="recurso" type="T_Recurso"/>
</xs:schema>
